# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1

      # Runs a single command using the runners shell
      - name: Install npm deps
        run: npm install

      # Runs a set of commands using the runners shell
      - name: Build prod
        run: npm build
      
      - name: SCP Upload
        # You may pin to the exact commit or the version.
        # uses: betanzos/scp-upload@4afbc824f4b0940d2b1ae862590033424385e3ab
        uses: betanzos/scp-upload@v1
        with:
          # Source local file path
          source: dist/
          # Remote host
          host: pissshivers.com
          # Remote host SSH port
          port: 22
          # Remote host username
          username: pissuser
          # SSH private key
          key: ${{ secrets.SSH_KEY }}
          # Remote directory to copy the file
          remote_dir: /apps/pissshivers.com/html/
